{% extends 'base.html.twig' %}

{% block title %}Edit Reminder{% endblock %}

{% block body %}
    <h1>Edit Reminder</h1>

    {{ include('reminder/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reminder_index') }}">back to list</a>

    {{ include('reminder/_delete_form.html.twig') }}
{% endblock %}
