{% extends 'base.html.twig' %}

{% block title %}CT - Nouveau rappel{% endblock %}

{% block body %}
<div class="container mx-auto">
    <div class="max-w-md mx-auto bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="bg-white rounded-lg px-8 pt-6">
            <h1 class="text-3xl font-bold mb-6 text-gray-800 border-b pb-4">Créer un noveau rappel</h1>
        </div>
        <div class="px-8 pb-6">
            {{ include('reminder/_form.html.twig') }}
            <a href="{{ path('app_reminder_index') }}" class="inline-flex items-center justify-center w-full px-4 py-2 bg-gray-100 text-gray-700 rounded-md hover:bg-gray-200 transition-colors duration-200">
                ◄ Retour aux rappels
            </a>
        </div>
    </div>
</div>
{% endblock %}
