<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}CleverTasks{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div class="flex flex-col 2xl:flex-row min-h-full max-w-full m-0">
            {{ include("sidebar.html.twig") }}
            <div class="flex-grow bg-gradient-to-b from-gray-50 to-white py-24 sm:py-32 min-h-full m-0 w-full">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>

